*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
body{
    font-family: "Noto sans KR", Helvetica, sans-serif;
    overflow-x: scroll;
    overflow-y: scroll;
    min-width: 920px;
    scroll-behavior: smooth;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #000;
}
#body{
    width: 100%;
}
#left{
    float: left;
    width: 100%;
    height: 100px;
    background: #F2CF1D;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    z-index: 100;
    min-width: 155px;
    position: relative;
}
#left h1{
    display: block;
    width: 135px;
    font-family: 'Lobster', cursive;
    text-align: left;
    font-size: 40px;
    line-height: 100px;
    margin-left: 30px;
    font-weight: normal;
}
#left h1 a{
    color: #18298C;
}
#menu{
    text-align: center;
    position: absolute;
    top: 20px;
    left: 300px;
}
#menu > li{
    /* outline: 1px solid blue; */
    line-height: 70px;
    float: left;
    width: 150px;
    /* border-top: 1px solid rgb(253, 235, 142);
    border-bottom: 1px solid rgb(168, 142, 9); */
}
#menu > li > a{
    font-size: 18px;
    color: #18298C;
    font-weight: bold;
    padding: 20px 0;
}
#menu .sub_menu{
    height: 0;
    overflow: hidden;
    transition: .4s;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
}
#menu .sub_menu > li{
    line-height: 70px;
    height: 70px;
}
#menu .sub_menu > li a{
    color: #18298C;
    font-weight: 18px;
    padding: 20px 30px;
    text-align: center;
}
#menu .sub_menu > li:hover{
    background: #E6C005;
}
#menu > li{
    transition: 0.4s;
}
/* #menu > li:hover{
    background: #E6C005;
} */
#menu > li:hover .sub_menu{
    height: 210px;
    background: #F2CF1D;
}
#right{
    float: right;
    width: 100%;
    text-align: center;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    min-height: 100vh;
    transition: 1s;
}
#right .text{
    margin-top: 80px;
    height: 180px;
}
#right .text .date{
    font-size: 18px;
    margin: 5px 0;
}
#right .text .info{
    font-size: 20px;
    margin-top: 40px;
    padding: 0 50px;
}
#right .use{
    padding-top: 50px;
    text-align: center;
}
.use h2{
    font-size: 20px;
}
.use img{
    margin: 0 5px;
    margin-top: 10px;
}
#work{
    margin-top: 50px;
    padding: 30px;
}
#work img{
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
}
#work p a:hover{
    text-decoration: underline;
}